body {
  background: #111;
  background-size: cover;
  backgrounf-repeat: no-repeat;
  font-family: 'Avant Garde','Lucida Console';
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-box{
    position: relative;
    width: 500px;
    height: 500px;
    top: 60px;
 }

@media screen and (max-width: 1180px){
  .button2 {
    top: 310px;
  }
}

@media screen and (max-height: 900px){
  .button2 {
    top: 310px;
  }
}

.hider{
  position: absolute;
  width: 500px;
  height: 202px;
  background-color: #fff;
  top: 200px;
  z-index: 8;
  left: 50%;
  transform: translate(-50%);
  background: #111;
  margin-left: -1px;
}

.filler-wrapper{
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  
}

.filler{
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #56B4F2;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  top: 200px; 
  z-index: 2;
}

.circle{
  width: 400px;
  height: 200px;
  position: absolute;
  background: #565656;
  z-index: 1;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom: 0;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 1px 5px 50px #56B4F2;
}

.needle-wrapper{
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%) rotate(-90deg);
  z-index: 11;
}

.needle{
  position: absolute;
  width: 10px;
  height: 210px;
  background-color: transparent;
  border-radius: 200px;
  z-index: 11;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
  border: 1px solid #898989;
  box-shadow: 1px -5px 11px #56B4F2;
}

.circle-2 {
  width: 300px;
  height: 150px;
  background-color: #fff;
  z-index: 3;
  border-top-left-radius: 150px; 
  border-top-right-radius: 150px;
  border-bottom: 0;
  position: absolute;
  left:50%;
  top: 125px;
  transform: translate(-50%, -50%);
  background: #111;
  box-shadow: 0px -3px 18px #232323;
}

.circle-3 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  z-index: 12;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  border-bottom-left-radius: 41px;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  background: #111;
  box-shadow: 0px -3px 18px #287AB3;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  font-size: 52px;
  color: #56B4F2;
  text-shadow: 3px 3px 3px  #222;
}

.input-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.button-wrapper{
}

.button2 {
  visibility:hidden;
  z-index: 10;
}

#button, #button2{
  width: 200px;
  height: 45px;
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  color: #56B4F2;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0px 0px 6px #56B4F2;
  z-index: 13;
}

.button, .button2 {
  width: 200px;
  height: 45px;
  padding: 10px 20px;
  text-align: center;
  display: block;
}

#button:hover, #button2:hover {
  opacity: 0.8;
}

.input-wrapper span input, .button2 input{
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 4px;
  color: #efefef;
  background-color: #565656;
}

.data-wrapper {
  width: 100%;
  text-align: center;
}

.date-wrapper{
  margin-bottom: 20px;
  text-align: center;
}

.date-wrapper span{
    
  margin-bottom: 5px;
    
  display: inline-block;
}


.total, .here, .left {
  visibility: hidden;
}

.data-row{
  width: 290px;
  color: #fff;
  font-size: 24px;
  margin: 10px 0;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  padding: 6px 0;
}

.days {
  color: #56B4F2
}
